.NFT-Collection{
    position: absolute;
    left: 7.95%;
    right: 46%;
    top: 12.68%;
    bottom: 83.89%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
}
.Gooodsnft{
    position: absolute;
    width: 355px;
    height: 355px;
    left: 17px;
    top: 170px;
}
.Gooodsnft1{
   position: absolute;
width: 108px;
height: 108px;
left: 26px;
top: 599px;
}
.Gooodsnft2{
    position: absolute;
width: 108px;
height: 108px;
left: 144px;
top: 599px;
}
.Gooodsnft3{
    position: absolute;
width: 108px;
height: 108px;
left: 263px;
top: 599px;
}
.name{
    position: absolute;
width: 140px;
height: 19px;
left: 26px;
top: 536px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.date{
    position: absolute;
width: 64px;
height: 14px;
left: 26px;
top: 560px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
color: #8E8E8E;
}

