.goback-button{
    position: absolute;
    left: 7.95%;
    right: 88.97%;
    top: 5.21%;
    bottom: 92.3%;
}
.NFT-Collection{
    position: absolute;
    left: 7.95%;
    right: 46%;
    top: 12.68%;
    bottom: 83.89%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
}
.nftpool-1{
    position: absolute;
    z-index: 2;
    bottom: 512px;
    top: 189px;
    left: 38px;
    right: 208px;
}
.nftpool-2{
    position: absolute;
    z-index: 2;
    bottom: 517px;
    top: 194px;
    right: 43px;
    left: 214px;
}
.poolcd{
    position: absolute;
    z-index: 2;
    top: 338px;
    bottom: 491px;
    left: 46px;
    right: 268px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.poolcddate{
    position: absolute;
    z-index: 2;
    width: 43px;
    height: 10px;
    left: 46px;
    top: 352px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
    line-height: 10px;
    color: #8E8E8E;
}
.poolcdname{
    position: absolute;
    z-index: 2;
    top: 372px;
    bottom: 462px;
    left: 122px;
    right: 223px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #8E8E8E;
}
.Gooods{
   position: absolute;
   z-index: 2;
   bottom: 491px;
   top: 338px;
   left: 214px;
   right: 79px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 100;
   font-size: 12px;
   line-height: 15px;
   color: #000000;
}
.Gooodsdate{
    position: absolute;
    z-index: 2;
    left: 214px;
    right: 135px;
    bottom: 482px;
    top: 352px;
    width: 155px;
    height: 220px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
    line-height: 10px;
    color: #8E8E8E;
}
.Gooodsbox{
    position: absolute;
    z-index: 1;
    top: 169px;
    left: 193px;
    right: 22px;
    bottom: 455px;
    background:#ffffff;
    border-radius: 8px;
}
.Poolcd-box{
    position: absolute;
    z-index: 1;
    top: 169px;
    left: 22px;
    right: 193px;
    bottom: 455px;
    background: #ffffff;
    border-radius: 8px;
    
}
.Gooodsname{
    position: absolute;
    z-index: 2;
    left: 295px;
    right: 50px;
    top: 372px;
    bottom: 462px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #8e8e8e;
}